@mixin sans-serif {
  font-family: "nimbus-sans", "Nimbus Sans L", Helvetica, Arial, sans-serif;
}

@mixin label {
  color: $dark-gray;
  font-size: $small-text;
  font-weight: $bold-text;
  letter-spacing: 0.02rem;
}

@mixin transparent {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

@mixin appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

@mixin cursor-grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -ms-grab;
  cursor: grab;
}

$_box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
@mixin box-shadow {
  -webkit-box-shadow: $_box-shadow;
  -moz-box-shadow: $_box-shadow;
  box-shadow: $_box-shadow;
}

$_inset_box_shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.95);
@mixin inset-box-shadow {
  -webkit-box-shadow: $_inset_box_shadow;
  -moz-box-shadow: $_inset_box_shadow;
  box-shadow: $_inset_box_shadow;
}

@mixin transform ($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  -moz-transform: $property;
  transform: $property;
}

@mixin action-btn () {
  background-color: lighten($dark-gray, 8%);
  color: $white;
  border: none;
  font-weight: $bold-text;
  font-size: $small-text;
  height: 2rem;
  line-height: 2.2rem;
  position: relative;
  padding: 0 0.75rem 0 3rem;
  transition: background-color 0.2s;
  &:before {
    background-color: $dark-gray;
    content: '↩	';
    display: block;
    left: 0;
    height: 2rem;
    line-height: 2.4rem;
    position: absolute;
    top: 0;
    width: 2rem;
  }
  &:hover {
    background-color: lighten($dark-gray, 15%);
  }
}

@mixin media($arg) {
  @if $arg == small-up {
    @media #{$screen} and (min-width: 542px) { @content; }
  }
  @if $arg == medium-up {
    @media #{$screen} and (min-width: 800px) { @content; }
  }
  @if $arg == large-up {
    @media #{$screen} and (min-width: 992px) { @content; }
  }
}

@mixin full-screen {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}
