/* General colors */
$white: #FEFEFE;
$light-gray: #EEEEEE;
$dark-gray: #333333;
$black: #000000;

$blue: #306E9F;
$dark-blue: #1B5280;

$red: #D64640;
$dark-red: #8F2323;

/* Text sizes */
$small-text: 0.875rem;
$bold-text: 600;

/* Map stroke and fill colors */
$district-stroke: #FEFEFE;
$district-stroke-width: 0.3;
$district-stroke-hover: #FFFFFF;
$district-stroke-width-hover: 1.2;
$district-red: #D64640;
$district-blue: #306E9F;
