/* Map stroke and fill colors */
$district-stroke: #FEFEFE;
$district-stroke-width: 0.3;
$district-stroke-hover: #FFFFFF;
$district-stroke-width-hover: 1.2;
$district-red: #D64640;
$district-blue: #306E9F;
